body {
  margin: 0;
  background: #eee;
  overflow: hidden;
}

canvas.mouse {
  cursor: move;
}

.options {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.options.hide {
  display: none;
}

#difficulty,
#btn-start {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
